<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @railway_station.title %>
</p>

<p>
  <strong>Year foundation:</strong>
  <%= @railway_station.year_foundation %>
</p>

<% if @railway_station.routes.empty? %>
    <p> Не входит ни в один маршрут </p>
  <% else %>
    <p> Станция входит в маршруты : </p>
    <% @railway_station.routes.each do |route| %>
      <li> <%= route.name %></li>
    <% end %>
<% end %>


<%= link_to 'Edit', edit_railway_station_path(@railway_station) %> |
<%= link_to 'Back', railway_stations_path %>
